<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<!-- 表格 -->
<el-table :data="tableData" border style="width: 100%">
    <!-- 动态循环的列表 -->
    <template  v-for="(item, index) in tableLabel">
        <el-table-column :key="index" :prop="item.prop" :label="item.label" width="100"> </el-table-column>
    </template>
    <!-- 固定的列：详细 -->
    <el-table-column label="详细">
        <template slot-scope="scope">
            　　　　　　<el-button type="info" @click="">详细</el-button>
            　　　　</template>
    </el-table-column>
</el-table>

<script>
export default {
  name: "dataList",
  data() {
    return {
      tableData: [
        { id: '1', dep: '112', a: '这是个数据', b: '这是个数据' },
        { id: '2', dep: '113', a: '这是个数据', b: '这是个数据'}
      ],
      tableLabel: [
          {label: '序号', prop: 'id'},
          {label: '部门', prop: 'dep'},
          {label: '表头3', prop: 'a'},
          {label: '表头4', prop: 'b'},
      ]
    }
  },
};
</script>
</body>
</html>