<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div id="app">
    <h1>k8s管理系统</h1>
    <h1> [[ .name ]] </h1>
    <p>
        <!-- use router-link component for navigation. -->
        <!-- specify the link by passing the `to` prop. -->
        <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
        <router-link to="/kubernetes">kubernetes</router-link>
        <router-link to="/devops">devops</router-link>
        <router-link to="/harbor">ssh</router-link>
        <router-link to="https://www.baidu.com">百度</router-link>
        <router-link to="/devops">devops</router-link>
        <router-link to="/harbor">ssh</router-link>
    </p>
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view>


    </router-view>
</div>
<div id="ap">
			<div class="tab">
				<div v-for="(item,index) in navlist" :class="[currentKey == index ? 'activeClass' : '', 'tabitems']" :data-index="index"
				 :data-id="item.id" @click="tabclick(index)">
					{{item}}
					<div class="showline" v-if="currentKey == index"></div>
				</div>
			</div>
</div>
<script type="text/javascript">
			var app = new Vue({
				el: '#ap',
				data: {
					currentKey: 0,
					navlist: ["导航栏1", "导航栏2", "导航栏3"]
				},
				mounted() {
                    //加载load监听
					window.addEventListener('load', function() {
					})
                    //滚动监听
					window.addEventListener("scroll", this.scrollBottom, true);
				},
				methods: {
					tabclick(index) {
                        //在此判断同一个导航不可重复点击
						if (index != this.currentKey) {
							this.currentKey = index;
						}
					},
                    scrollBottom(){
                        console.log("我滚动了")
                    }
			}})
</script>
</body>
</html>